<form ng-controller="LoginCtrl" name="form" id="page-content-wrapper">
    <div class="col-xs-5 form-signin well">
        <center>
            <h2> Connexion</h2>
        </center>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="connexionLogin" type="text" class="form-control" name="connexionLogin"
                   placeholder="Identifiant" ng-model="connexionLogin">
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="password" type="password" class="form-control" name="password" placeholder="Mot de passe"  ng-model="connexionPassword">
        </div>
        <button class="btn btn-lg btn-primary btn-block" ng-click="login()"> S'identifier</button>
    </div>
</form>

