<div class="row" style="margin-left:20%">
    <div class="col-lg-12">
        <h1 class="page-header">  Contact</h1>
    </div>
</div>
<div class="well" style="width:50%; margin-left:20%; margin-bottom:20%" id="page-content-wrapper">
    <div class="container-fluid">
        <br><br>
        <table>
            <tr>
                <td width="5%">MERABLI Mélina <A HREF="mailto:melina.merabli@live.fr"><span style="font-size: 20px;"  class="glyphicon glyphicon-envelope" aria-hidden="true"></span></A></td>
                <td width="5%">JOINVILLE Juliana <A HREF="mailto:joinville.juliana@gmail.com"><span style="font-size: 20px"  class="glyphicon glyphicon-envelope" aria-hidden="true"></span></A></td>
                <td width="5%">VETTIVELU Nirogéni <A HREF="mailto:v.nirogeni@gmail.com"><span style="font-size: 20px" class="glyphicon glyphicon-envelope" aria-hidden="true"></span></A></td>
            </tr>
        </table>
        <br><br>
        <img src="images/LOGO_DeleteMe.png" alt="DeleteMe">
        <br><br>
    </div>
</div>