<div class="well" style="width:50%; margin-left:20%; margin-bottom:20%" id="page-content-wrapper">
    <center><h2> Contact </h2></center>
    <div class="container-fluid">
        <br><br>
        <table>
            <tr>
                <td width="10%">MERABLI Mélina <A HREF="mailto:melina.merabli@live.fr"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></A></td>
                <td width="10%">JOINVILLE Juliana <A HREF="mailto:joinville.juliana@gmail.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></A></td>
                <td width="10%">VETTIVELU Nirogéni <A HREF="mailto:v.nirogeni@gmail.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></A></td>
            </tr>
        </table>
        <br><br>
        <img src="images/LOGO_DeleteMe.png" alt="DeleteMe">
        <br><br>
    </div>
</div>