<center>
<form class="form-inline jal" action="http://localhost:8080/api/user/new" method="POST">

    <div class="well" style="width:700px; margin-left:-70%;">
        <h2> Création d'un utilisateur </h2>

        <table style="width:100%">
            <tr>
                <td><label class="control-label">Civilité</label></td>
                <td><label class="control-label">Nom</label></td>
                <td><label class="control-label">Prénom</label></td>
            </tr>
            <tr>
                <td>
                    <div class="controls">
                        <select name="userCiv" id="userCiv" name="userCiv" placeholder="Mr/Mme">
                            <option value="Mme">Mme</option>
                            <option value ="Mr">Mr</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="controls">
                        <input id="userLastName" type="text" name="userLastName" placeholder="Nom" required/>
                    </div>
                </td>
                <td>
                    <div class="controls">
                        <input id="userFirstName" type="text" name="userFirstName" placeholder="Prénom" required/>
                    </div>
                </td>
            </tr>


            <tr>
                <td><label class="control-label">Pseudo</label></td>
                <td><label class="control-label">Mot de passe</label></td>
                <td><label class="control-label">Date de naissance</label></td>
            </tr>
            <tr>
                <td>
                    <div class="controls">
                        <input id="userLogin" type="text" name="userLogin" placeholder="Login" required/>
                    </div>
                </td>
                <td>
                    <div class="controls">
                        <input id="userPassword" type="text" name="userPassword" placeholder="Password" required/>
                    </div>
                </td>
                <td>
                    <div class="controls">
                        <input id="userDateBirth" type="text" name="userDateBirth" placeholder="Date de naissance" required/>
                    </div>
                </td>
            </tr>



            <tr>
                <td><label class="control-label">Email</label></td>
                <td><label class="control-label">Numéro de telephone</label></td>
                <td><label class="control-label">Adresse</label></td>
            </tr>
            <tr>
                <td>
                    <div class="controls">
                        <input id="userMail" type="text" name="userMail" placeholder="Mail"required/>
                    </div>
                </td>
                <td>
                    <div class="controls">
                        <input id="userPhone" type="text" name="userPhone" placeholder="Numéro de telephone" required pattern="[0-9]{10}"/>
                    </div>
                </td>
                <td>
                    <div class="controls">
                        <input id="userAdresse" type="text" name="userAdresse" placeholder="Adresse" required/>
                    </div>
                </td>
            </tr>


            <tr>
                <td><label class="control-label">Ville</label></td>
                <td><label class="control-label">Code postal</label></td>
                <td><label class="control-label">Pays</label></td>
            </tr>
            <tr>
                <td>
                    <div class="controls">
                        <input id="userVille" type="text" name="userVille" placeholder="Ville" required/>
                    </div>
                </td>
                <td>
                    <div class="controls">
                        <input id="userCP" type="text" name="userCP" placeholder="Code postal" required/>
                    </div>
                </td>
                <td>
                    <div class="controls">
                        <input id="userPays" type="text" name="userPays" placeholder="Pays" required/>
                    </div>
                </td>
            </tr>
        </table>

        <hr class="soft"/>
        <div class="controls">
            <button type="submit" class="btn btn-warning">Enregistrer</button>
            <button type="reset" class="btn btn-primary">Annuler</button>
        </div>
    </div>
</form>
</center>

<script src="angular/angular.min.js"></script>
<script src="angular/angular-resource.min.js"></script>
<script src="bootstrap/js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>

<script src="js/app/application.js"></script>
<script src="js/app/controllers.js"></script>
<script src="js/app/services.js"></script>
