<div class="well" id="page-content-wrapper" ng-controller="UserCtrl">
        <h2> Création d'un utilisateur </h2>

        <div class="control-group">
            <label class="control-label">Civilité</label>

            <div class="controls">
                <select name="userCiv" id="userCiv" name="userCiv" ng-model="userCiv" placeholder="Mr/Mme" >
                    <option value="Mme">Mme</option>
                    <option value ="Mr">Mr</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Nom</label>

            <div class="controls">
                <input id="userLastName" type="text" name="userLastName" placeholder="Nom" required ng-model="userLastName"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Prénom</label>

            <div class="controls">
                <input id="userFirstName" type="text" name="userFirstName" placeholder="Prénom" required ng-model="userFirstName"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Login</label>

            <div class="controls">
                <input id="userLogin" type="text" name="userLogin" placeholder="Login" required ng-model="userLogin"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Password</label>

            <div class="controls">
                <input id="userPassword" type="text" name="userPassword" placeholder="Password" required ng-model="userPassword"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Date de naissance</label>

            <div class="controls">
                <input id="userDateBirth" type="text" name="userDateBirth" placeholder="Date de naissance" required ng-model="userDateBirth"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Mail</label>

            <div class="controls">
                <input id="userMail" type="text" name="userMail" placeholder="Mail"required ng-model="userMail"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Numéro de telephone</label>

            <div class="controls">
                <input id="userPhone" type="text" name="userPhone" placeholder="Numéro de telephone" required pattern="[0-9]{10}" ng-model="userPhone"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Adresse</label>

            <div class="controls">
                <input id="userAdresse" type="text" name="userAdresse" placeholder="Adresse" required ng-model="userAdresse"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Ville</label>

            <div class="controls">
                <input id="userVille" type="text" name="userVille" placeholder="Ville" required ng-model="userVille"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Code postal</label>

            <div class="controls">
                <input id="userCP" type="text" name="userCP" placeholder="Code postal" required ng-model="userCP"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Pays</label>

            <div class="controls">
                <input id="userPays" type="text" name="userPays" placeholder="Pays" required ng-model="userPays"/>
            </div>
        </div>

        <hr class="soft"/>
        <div class="controls">
            <button type="submit" class="btn btn-warning" ng-click="createUser()">Enregistrer</button>
            <button type="reset" class="btn btn-primary">Annuler</button>
        </div>
    </div>
