<div class="wrapper" ng-controller="DeleteRequestCtrl" id="page-content-wrapper" style="width:50%; margin-left:20%">
        <center>
            <form class="form-signin well">
                <center>
                    <h2> Formulaire de Suppression </h2>
                </center>
                <div class="control-group">
                    <label class="control-label">Votre adresse email : </label>
                    <div class="controls">
                        <input id="emailFrom" type="text" name="emailFrom" placeholder="Email" required ng-model="emailFrom"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Objet de la demande : </label>
                    <div class="controls">
                        <input id="object" type="text" name="object" placeholder="Objet de la demande" required ng-model="objectReq"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Commentaire :</label>
                    <div class="controls">
                        <textarea class="form-control" name="comment" id="comment" ng-model="commentReq"></textarea>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Lien :</label>
                    <div class="controls">
                        <input id="link" type="text" name="link" placeholder="Lien" required ng-model="linkReq"/>
                    </div>
                </div>
                <hr class="soft"/>
                <div class="controls">
                    <button type="submit" class="btn btn-warning" ng-click="deleteRequest()">Valider</button>
                    <button type="reset" class="btn btn-primary">Annuler</button>
                </div>

            </form>
        </center>
    </div>