<div class="container-fluid" ng-controller="DeleteRequestCtrl" style="width:60%">


    <div id="accountList">
        <h2>  Liste des demandes effectuées </h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Raison</th>
                <th>Date</th>
                <th>Type</th>
                <th>Lien</th>
                <th>Etat</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="request in requestList">
                <td>{{ request.idRequest }}</td>
                <td>{{ request.reason }}</td>
                <td>{{ request.date | date}}</td>
                <td>{{ request.type }}</td>
                <td>{{ request.link }}</td>
                <td>{{ request.statut }}</td>

            </tr>
            </tbody>
        </table>
    </div>

</div>
