<!--
<!DOCTYPE HTML>
<html lang="fr" ng-app="deleteMeApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>DeleteMe Application</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </link>
    <link href="css/style.css" rel="stylesheet">
    </link>
</head>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active"><a href="http://localhost:8080/">Accueil</a></li>
        </ul>
    </div>
</nav>
<body>
<h2> Mon profil </h2>

<div class="container-fluid">-->
    <!-- récupération des informations du compte à afficher sur la page de création d'un user, soit
    récupération des infos dans la bdd, affichage sur la page et updateUser-->
<!-- <a href="http://localhost:8080/updateUser.html"><button class="btn btn-lg btn-primary btn-block" type="submit">
    Modification de mes informations personnels </button></a>
<br>

<a href="http://localhost:8080/updateLogin.html"><button class="btn btn-lg btn-primary btn-block" type="submit">
    Modifier mon mot de passe</button></a>
<br>

<a href="http://localhost:8080/deleteForm.html"><button class="btn btn-lg btn-primary btn-block" type="submit">
    Demande de suppression</button></a>
<br>-->

<!-- affichage des des demandes effectuées -->
<!--<a href="http://localhost:8080/listDemandesUser.html"><button class="btn btn-lg btn-primary btn-block" type="submit">
    Liste de mes demandes de suppressions</button></a>

</div>
</body>
</html>
-->


<div class="well" style="width:50%; margin-left:20%; margin-bottom:20%" id="page-content-wrapper">
    <center><h2> Mon compte </h2></center>
    <div class="container-fluid">



    </div>
</div>


