<!DOCTYPE HTML>
<html lang="fr" ng-app="deleteMeApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>DeleteMe Application</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </link>
    <link href="css/style.css" rel="stylesheet">
    </link>
</head>
<h2> Tableau de Bord </h2>
<div class="container-fluid">

    <a href="http://localhost:8080/listUsersAdmin.html"><button class="btn btn-lg btn-primary btn-block" type="submit">
        Listes des utilisateurs </button></a>
    <br>

    <a href="http://localhost:8080/listDemandesAdmin.html"><button class="btn btn-lg btn-primary btn-block" type="submit">
        Liste des suppressions</button></a>

</div>
</body>
</html>
<body>
</body>
</html>