<!--
<!DOCTYPE HTML>
<html lang="fr" ng-app="deleteMeApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>DeleteMe Application</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </link>
    <link href="css/style.css" rel="stylesheet">
    </link>
</head>

<a href="http://localhost:8080/listUsersAdmin.html"><button class="btn btn-lg btn-primary btn-block" type="submit">
            Listes des utilisateurs </button></a>
        <br>

        <a href="http://localhost:8080/listDemandesAdmin.html"><button class="btn btn-lg btn-primary btn-block" type="submit">
            Liste des suppressions</button></a>

-->

<div class="well" style="width:70%; margin-left:20%; margin-bottom:20%" id="page-content-wrapper">
<center><h2> Tableau de Bord </h2></center>
    <div class="container-fluid">

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">26</div>
                            <div>New Comments!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>



