<!--
<!DOCTYPE HTML>
<html lang="fr" ng-app="deleteMeApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>DeleteMe Application</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </link>
    <link href="css/style.css" rel="stylesheet">
    </link>
</head>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active"><a href="http://localhost:8080/">Accueil</a></li>
        </ul>
    </div>
</nav>
<body>
<h2> Mon profil </h2>

<div class="container-fluid">-->
    <!-- récupération des informations du compte à afficher sur la page de création d'un user, soit
    récupération des infos dans la bdd, affichage sur la page et updateUser-->
<!-- <a href="http://localhost:8080/updateUser.html"><button class="btn btn-lg btn-primary btn-block" type="submit">
    Modification de mes informations personnels </button></a>
<br>

<a href="http://localhost:8080/updateLogin.html"><button class="btn btn-lg btn-primary btn-block" type="submit">
    Modifier mon mot de passe</button></a>
<br>

<a href="http://localhost:8080/deleteForm.html"><button class="btn btn-lg btn-primary btn-block" type="submit">
    Demande de suppression</button></a>
<br>-->

<!-- affichage des des demandes effectuées -->
<!--<a href="http://localhost:8080/listDemandesUser.html"><button class="btn btn-lg btn-primary btn-block" type="submit">
    Liste de mes demandes de suppressions</button></a>

</div>
</body>
</html>
-->

<div id="page-wrapper"  style="margin-left:20%">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Mon compte</h1>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="glyphicon glyphicon-envelope red"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">26</div>
                            <div>Message</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">Voir le détail</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="glyphicon glyphicon-shopping-cart"></i>
                        </div>
                        <div class="col-xs-9 text-right" ng-controller="DeleteRequestCtrl">
                            <div class="huge">{{requestList.length}}</div>
                            <div>Mes demandes</div>
                        </div>
                    </div>
                </div>
                <a href="#/api/deleteRequest/1">
                    <div class="panel-footer">
                        <span class="pull-left">Voir le detail</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        </div>
    </div>
<div class="well" style="width:39%; margin-left:20%;" >
    <center><h4>Gerer mon compte</h4></center>

    <div class="container-fluid">

        <a href="#/api/update/login"><button class="btn btn-lg btn-primary btn-block" type="submit">
            Modifier mon mot de passe</button></a>
        <br>

        <a href="#/api/deleteRequest"><button class="btn btn-lg btn-primary btn-block" type="submit">
            Demande de suppression</button></a>
        <br>

    </div>
</div>


