<div class="well" style="width:50%; margin-left:20%; margin-bottom:20%" id="page-content-wrapper">
    <center><h2> Notre métier </h2></center>
    <div class="container-fluid">
        <img src="images/LOGO_DeleteMe.png" alt="DeleteMe">
        <h2>Purificateur du web</h2>
        <br>
        <p align="justify">Aujourd’hui, il suffit d’un rien pour ruiner notre vie, une soirée trop arrosé qui finit sur le net, un
        passé dont on n’est pas fier, et dont on peut se défaire, ou pire, les méfaits d’une personne mal
        intentionné qui vous fait du chantage ou qui vous harcèle.
        <br><br>
        Notre projet est de remédier à cela. Aujourd’hui qu’est-ce qu’on fait pour supprimer tout ça ? On se lance dans des démarches
        fastidieuses, police, la CNIL, l’hébergeur du site ou on laisse tout simplement notre passé contrôlé notre présent, NON
        JAMAIS, on fais appel à des professionnelle qui nous garantisse que en un clic, la suppression de nos données.
        <br><br>
        Au final vous aurez perdu un peu d’argent mais surtout gagnez beaucoup de temps, ... et le temps c’est de l’argent !
        Sachez protéger notre vie privée.
        <br><br>
        Avec delete me, vous nous payez que si les résultats sont concret.

        Votre satisfaction est notre préoccupation. Votre sécurité est notre priorité.</p>
        <br><br>
        Ne laissez pas votre passé ruiner sur votre futur !
        <br><br>
        Profitez ! Une suppression d’essai !


    </div>
</div>